# Created by venv; see https://docs.python.org/3/library/venv.html
settings.json
__pycache__/
**/__pycache__/*
*.pyc
*.py[cod]
*$py.class
stocks_by*.csv
.Ds_Store
.env
.vscode/
logs/*
positive_30pct_trend_start_candidates.csv
positive_30pct_trend_start_days_all_bars.csv
